In [1]:
data = "Python Rocks"
print(data)

Python Rocks

In [2]:
# single line comment
a = "hello world"
print(a)

hello world

# this is a comment

## this is also a comment

In [3]:
class Edureka:
    """
    this is a 
    multi line comment
    """
# this is single line comment

# Indentation

In [6]:
age = 21
if age >= 18:
    print("You can vote")
    a = 12
else:
    a = 12
    b = 300
    print()
# select the code + shift + tab : unident
# select the code+ Tab to indent

You can vote

In [9]:
# what is the difference between identifier and variable ?
# Indentifier can be a class name or file_name or a variable name

### Integer

In [10]:
a = 123
a

123

In [11]:
type(a)

int

In [12]:
a = 12.334
a

12.334

In [13]:
type(a)

float

In [14]:
# complex numbers
a = 1+2j
a

(1+2j)

### Strings

In [15]:
a = 'edureka'
a

'edureka'

In [16]:
type(a)

str

In [17]:
b = 'hello's'

SyntaxError: invalid syntax (<ipython-input-17-b9eec4628af3>, line 1)

In [18]:
b = "hello's"
b

"hello's"

In [20]:
# but can u show how these r immutable?
a = 10
print(id(a))
a = 20
print(id(a))
# notice both the id values are different

4334282432
4334282752

## tuples

In [21]:
my_tup = (1, 2, "hello", 34.56)
my_tup

(1, 2, 'hello', 34.56)

In [22]:
len(my_tup)

4

In [23]:
type(my_tup)

tuple

## List

In [24]:
my_list = [100, 200,(1,2,3), "hello", 3.45]
my_list

[100, 200, (1, 2, 3), 'hello', 3.45]

In [25]:
type(my_list)

list

In [26]:
len(my_list)

5

## dictionary

In [27]:
d = {1:200, 3:400, 6:"edureka"}
d

{1: 200, 3: 400, 6: 'edureka'}

In [28]:
type(d)

dict

In [ ]:
# What if we provide same key with 
# different value? Then which value it will pick?

In [29]:
d = {1:100, 1:200, 1:300, 3:400, 6:"edureka"}
d

{1: 300, 3: 400, 6: 'edureka'}

## sets

In [30]:
s = {1, 2, 3, 1, 1, 1}
s

{1, 2, 3}

In [31]:
type(s)

set

## operators

In [32]:
13/4

3.25

In [33]:
13//4  # truncates the decimal

3

In [34]:
# remainder
13%4

1

In [35]:
2 > 1

True

In [36]:
2 < 1

False

In [37]:
3>4

False

In [38]:
if 2>1:
    print("If condition")
else:
    print("Elseeee")

If condition

## identity operator 'is' and 'is not'

In [39]:
# case 1
a = [1,2,3]
b = [1,2,3]
print(id(a))
print(id(b))

4641579912
4641721160

In [42]:
a is b # checks if both referring to the same block(object)

False

In [41]:
a == b  # == checks value

True

In [43]:
# case 2
a = [1,2,3,100000]
b = a

In [44]:
id(a)

4635949000

In [45]:
id(b)

4635949000

In [46]:
a is b

True

In [47]:
a == b

True

In [50]:
a = [1,2,3]
b = a
a[0] = 2
a is b

True

In [51]:
1 in [1,2,3]

True

In [52]:
11 in [1,2,3]

False

## conditional statements
- else and elif are optional

In [58]:
age = 23
if age <= 2:
    print("Infant")
elif age >2 and age <=12:
    print("Kid")
elif age > 12 and age < 19:
    print("Teen")

In [63]:
age = 23
if age <= 2:
    print("Infant")
elif age >2 and age <=12:
    print("Kid")
elif age > 12 and age < 19:
    print("Teen")
else:
    print("No match")

No match

# while loop

In [2]:
n = 5
while n > 0:
    print("hello")
    print(n)
    n -= 1 #n = n - 1

hello
5
hello
4
hello
3
hello
2
hello
1

In [3]:
type(12)

int

In [4]:
print(type(12))

<class 'int'>