### Python is a Dynamically typed language

In [1]:
# # In C
# int a;
# a = 100

# a = "hello" # ?????
# I can't do that

In [2]:
# Python
a = 100
print(a)
a = "edureka"
print(a)
a = 12.34
print(a)

100
edureka
12.34

# Numbers

In [3]:
# Numbers

a = 10
type(a)

int

In [4]:
a = 12.34
type(a)

float

In [5]:
a = 12+4j
type(a)

complex

In [6]:
a = 23
bin(a)

'0b10111'

In [7]:
0x123  # in hex

291

# Strings

In [8]:
a = "edureka rocks"
b = 'edureka rocks'
print(a)
print(b)

edureka rocks
edureka rocks

In [9]:
# use double quotes if there is a single quote already in the string
a = 'india's win'

SyntaxError: invalid syntax (<ipython-input-9-9e59c0455464>, line 2)

In [10]:
# use double quoted instead
a = "india's win"
a

"india's win"

# Tuple

In [11]:
a = (1, 2, 3)
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

In [12]:
# can contain any value
a = (12, 23.4, "hello", (1,2,3))
a

(12, 23.4, 'hello', (1, 2, 3))

# List

In [13]:
a = [1, 2, 12.34, "hello"]
a

[1, 2, 12.34, 'hello']

In [14]:
type(a)

list

In [15]:
# access the elements via index
a[0]

1

In [16]:
a[1]

2

# dictionaries
   - keys have to be immutable i.e strings, numbers , tuple or any immutable object
   - values can be anything
   - list cannot become keys as it is mutable

In [17]:
my_dict = {1:100, 'hello':200, 43:500}
my_dict

{1: 100, 'hello': 200, 43: 500}

In [18]:
my_dict[1] # access a value using key

100

In [19]:
my_dict['hello']

200

# Sets

In [20]:
a = {1, 1, 2, 2, 3, 4, "hello", "hello", 'b', 'b'}
a

{1, 2, 3, 4, 'b', 'hello'}

In [22]:
# get unique elements from a list
my_list  = [1,2, 3, 1, 2,3, 4]
my_set = set(my_list)
list(my_set)

[1, 2, 3, 4]

### ordered: strings, list, tuple
    - can access value using index and index start with 0
### unordered: dict, sets
    - doesn't have index concept

In [23]:
a = [11, 12, 13]
a[0]

11

In [24]:
d = {1:11, 3:33, 2:22}
d[1]

11

## Arithematic operators

In [28]:
# %
13 % 5  # remainder

3

In [30]:
# ** : raising the power
2**3  # 2 the power 3

8

In [32]:
# // :floor division, it truncates the decimal value
print(12//5)  # //
print(12/5)   # /

2
2.4

## comparison operators

In [33]:
# a==b    it checks the value on both side
if 2 == 3:
    print("hello")
else:
    print("Bye")

Bye

In [34]:
2 == 3

False

In [35]:
2 == 2

True

In [36]:
2 != 3

True

In [37]:
2 > 1

True

In [38]:
2 < 4

True

In [39]:
2 > 10

False

## Logical operators

In [40]:
# and
if 2> 1 and 2 < 10:
    print("yessss")
else:
    print("Noooo")

yessss

In [41]:
2> 1 and 2 > 10

False

In [42]:
2> 1 or 2 > 10

True

In [43]:
if not 2<1:
    print("Bingo")

Bingo

## Bitwise operators

In [44]:
a = 4
b = 3
a & b

0

In [45]:
bin(a)

'0b100'

In [46]:
bin(b)

'0b11'

In [48]:
# # 100
# # 011
# ------- & AND
#   000

In [49]:
# OR: |
# # 100
# # 011
# ------- | OR
#   111
a | b

7

In [50]:
bin(7)

'0b111'

## identity operator

In [51]:
a = [1, 2, 3, 4, "hello", "edureka"]
b = [1, 2, 3, 4, "hello", "edureka"]

In [52]:
a is b

False

In [53]:
a == b

True

In [54]:
id(a)

4564632072

In [55]:
id(b)

4564589704

In [57]:
# assignment creates a reference
a = [1, 2, 3, 4, "hello", "edureka"]
b = a
# now both a and b would point to same object
a is b

True

## membership operator

In [59]:
# in, not in
a = [1, 2, 3]
1 in a

True

In [60]:
100 in a

False

In [61]:
100 not in a

True

In [62]:
'a' in "edureka"

True

In [63]:
'edu' in 'hello edureka'

True

In [64]:
12 in (1,2,3, 12)

True

In [65]:
100 in {1:11, 2:22, 100:200}

True

## conditional statements
 - if-elif-else
 - else is optional

In [66]:
# if-else
if 2>3:
    print("22")
    a = 100
    b = 200
else:
    print("Noooooo")

Noooooo

In [67]:
if 2 < 3:
    print("22")
    a = 100
    b = 200
else:
    print("Noooooo")

22

In [68]:
# multiple if conditions
X = 10
Y = 12

if X < Y:
    print('X is less than Y')
elif(X>Y):
    print('X is greater than Y')
else:
    print('X and Y are equal')

X is less than Y

In [70]:
# multiple if conditions
X = 10
Y = 12

if X > 100:
    print('X is less than Y')
elif(X>Y):
    print('X is greater than Y')
else:
    print('bingooo')

bingooo

# while loop

In [72]:
n = 5
while n > 0:
    print(n)
    n = n - 1 # n = n - 1

5
4
3
2
1

### guessing a number game

In [74]:
result = 13
while True:
    val = input("enter a number:")
    val = int(val)  # typecasting to an integer ..."12" -> 12
    if val == result:
        print("Congrats!!, your guessed it right and number is %s"%(val))
        break  # terminates the loop
    elif val > result:
        print("entered number is greater than expected result")
    elif val < result:
        print("entered number is lesser than expected result")

#outside the loop
print("Game Finished !!!")

enter a number:100
entered number is greater than expected result
enter a number:23
entered number is greater than expected result
enter a number:1
entered number is lesser than expected result
enter a number:12
entered number is lesser than expected result
enter a number:14
entered number is greater than expected result
enter a number:13
Congrats!!, your guessed it right and number is 13
Game Finished !!!

### for loop
 - used to iterate over a sequence ex: list, tuple , strings.
 - it also works with dicts

In [76]:
a = [11, 12, 13, 14]
for i in a:
    print("hello")
    print(i)

hello
11
hello
12
hello
13
hello
14

In [77]:
tup = (11, 12, 13, 14)
for i in tup:
    print("bbbbb")
    print(i)

bbbbb
11
bbbbb
12
bbbbb
13
bbbbb
14

In [78]:
len([1,2,3])

3

In [79]:
len((11, 22))

2

In [80]:
list(range(10))  # 0...9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
count=1
for i in range(10):
    print(str(i)*i)

    for j in range(0,i):
        count=count+1

1
22
333
4444
55555
666666
7777777
88888888
999999999

## break-continue-pass

In [85]:
# break terminates the current loop
for i in [1,2,3,4,5]:
    if i ==4:
        break
    print(i)

# now I am outside the loop
print("Python rocks")

1
2
3
Python rocks

In [86]:
# continue skips the remaining code in the current iteration and moves to next iteration
for i in [1,2,3,4,5]:
    if i ==4:
        continue
    print(i)

# now I am outside the loop
print("Python rocks")

1
2
3
5
Python rocks

In [87]:
# pass: does nothing and it can used anywhere i.e not limited to loops
if 2>1:
    pass
else:
    print("OOps")